body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d0eef1;
}

nav {
    background-color: #333;
    padding: 10px 0;
    font-family: "Oswald", sans-serif;
    font-size: larger;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 100%;
}

header {
    background-color:rgb(101, 115, 139);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    font-family: "Poetsen One", sans-serif;
    font-size: 150% ;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 20%;
    margin: 20px;
    padding: 20px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    text-align: center;
    font-size: x-small;
}

.caja img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

#carnet{
    font-size: 155%;
    font-family: "Oswald", sans-serif;
}

a{
    font-family: "Oswald", sans-serif;
    font-size: 150% ;
    color: rgb(127, 157, 255);
}

#fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}
